

.text{
    color: rgb(68, 67, 67);
    text-align: left;
    font-size: 20;
    font-weight: 500;
    font-family: "Jura", sans-serif;


}


.daytext{
    color: rgb(102, 98, 98);
text-align: center;
font-family: "Jura", sans-serif;
font-size: 13;

}


.msgtext{

    font-family: "Jura", sans-serif;
    font-weight: 350;
    color: 0C0C0C;


}

.righttext{
    font-family: "Jura", sans-serif;
    font-weight: 350;
    color: white;



}


.thumb{

font-size: 35;

}




